* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.my-2 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.mx-2 {
  margin-left: 8px;
  margin-right: 8px;
}

.mr-2 {
  margin-right: 8px;
}

.ml-2 {
  margin-left: 8px;
}
